{% extends 'base.html.twig' %}

{% block title %}Car list{% endblock %}

{% block body %}

    <div class="w-100 text-center px-5">
    <h1 class="card-title py-5 text-center"> Your cars, {{ user.firstName }} </h1>
        <table class="table table-striped table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Car</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for licensePlate in licensePlates %}
                    <tr>
                        <td>{{ loop.index  }}</td>
                        <td>{{ licensePlate.getLicensePlate() }}</td>
                        <td>
{#                            <a class="btn btn-danger btn-sm p-3 m-2" href="{{ path('delete-car', {id:licensePlate.id}) }}">#}
{#                                <i class="fa fa-edit" aria-hidden="true"></i> Delete#}
{#                            </a>#}
                            <button type="button" class="btn btn-danger btn-sm p-3 m-2" data-bs-toggle="modal" data-bs-target="#delete-{{ licensePlate.id }}">
                                 Delete
                            </button>
                            <a class="btn btn-warning btn-sm p-3 m-2" href="{{ path('edit-car', {id:licensePlate.id}) }}">
                                 Edit
                            </a>
                        </td>
                    </tr>
                    
                    <div class="modal fade" id="delete-{{ licensePlate.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Remove Car</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>Are you sure you want to remove the car with the licensePlate <b> {{ licensePlate.licensePlate }} </b> ?</h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <a type="button" class="btn btn-danger" href="{{ path('delete-car', {id:licensePlate.id}) }}">Confirm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </tbody>
        </table>
{#        <a type="button" class="btn btn-secondary p-3 m-2" href="#">#}
{#            <i class="fa fa-backward" aria-hidden="true"></i> Back#}
{#        </a>#}
        <a class="btn btn-warning p-3 m-2" name="update-user" href="{{ path('add-car', {id:app.user.id}) }}">
            <i class="fa fa-edit" aria-hidden="true"></i> Add
        </a>
    </div>

{% endblock %}